In [82]:
from collections import deque

In [6]:
deque()

deque([])

In [9]:
d = deque(['a','b','c'])

In [12]:
d.popleft()

'a'

In [14]:
d.appendleft("z")

In [15]:
d

deque(['z', 'b', 'c'])

In [17]:
d.popleft()

'z'

In [18]:
d

deque(['b', 'c'])

In [19]:
d.appendleft("webpage")

In [20]:
d.popleft()

'webpage'

In [29]:
def timbo_bfs(root = None):
    
    if root is None:
        return
    
    queue = [root]
    preserve = []
    while len(root > 0):
        cur_node = queue.pop(0)
        preserve.append(cur_node)
        
        if cur_node.left:
            queue.append(cur_node.left)
        if cur_node.right:
            queue.append(cur_node.right)
    
    return preserve

In [51]:
def remove_duplicates(nums):
    
    if not nums:
        return

    if len(nums) == 1:
        return 1

    current = 0 
    
    while current < len(nums) - 1:
        if nums[current] == nums[current + 1]:
            nums.remove(nums[current])
        else:
            current += 1

    return len(nums), nums

In [52]:
remove_duplicates([1,2,2])

(2, [1, 2])

In [149]:
def roman(s):
    
    if not s:
        return
    
    lookup = {
         "I": 1,
         "V": 5,
         "X": 10,
         "L": 50,
         "C": 100,
         "D": 500,
         "M": 1000}
    
    penalties = {
        "IV": 2,
        "IX": 2,
        "XL": 20,
        "XC": 20,
        "CD": 200,
        "CM": 200
    }
    
    current = 0
    total = 0

    while current < len(s):
        print(s[current: current+2])
        if (current < len(s) - 1):
            if(s[current: current + 2] in penalties):
                total -= penalties[s[current: current + 2]]
        total += lookup[s[current]]
        current += 1
    
    return total

In [151]:
roman("XIV")

XI
IV
V

14

In [153]:
l = [1,2,3,4,5]

In [158]:
l[::1]

[1, 2, 3, 4, 5]

In [274]:
def longest_common_prefix(strs):
    
    if not strs:
        return
    
    if len(strs) == 1 or len(set(strs)):
        return strs[0]
    
    # what's the shortest word in this list
    small = min(strs, key=len)

    prefixes = []
    for word in strs:
        if word == small:
            continue
        prefix = "" 
        for index in (range(len(word))):
            if index < len(small) and word[index] == small[index]:
                prefix += (word[index])
            else:
                break
        prefixes.append(prefix)
    
    return min(prefixes, key = len) if prefixes else ""

In [273]:
longest_common_prefix(["cir","car"])

'c'

In [210]:
"test" in "testy"

True

In [212]:
list("test") in list("testy")

False

In [228]:
l1 = ["test", "testy"]

In [229]:
l2 = list("t")

In [240]:
"testy"

'testy'

In [289]:
def isPalindrome(my_string):
    
    if not my_string:
        return False
    
    my_string = my_string.lower()
    
    punc = ',.\?!-;:'
    my_string = ''.join([c for c in my_string if c != " " and c not in punc])
    
    if not my_string:
        return False
    
    return my_string[::-1] == my_string

In [290]:
isPalindrome(",")

False

In [12]:
def biggest_area(height):
    
    if not height:
        return 0
    if len(height) == 1:
        return numbers[0]
    
    largest = 0
    for i in range(len(height)):
        window = 1
        while i + window < len(height):
            # step 1: "normalize height metric" by getting min of current vs. inspect
            h = min(height[i], height[i + window])
            # step 2: calculate area - which is height * width where width = window size
            area = h * window
            # step 3: set this to largest if it's bigger!
            largest = max(largest, area)
            # step 4: keep the party going. move window over. 
            # print(f'{numbers[i]}, {numbers[i + window]}')
            window += 1
    
    return largest

In [15]:
biggest_area([1,2,1])

2

In [1]:
my_list = [1,2,3,4,5]

In [2]:
def test_func(a_list):
    
    a_list = [num * 2 for num in a_list]
    return a_list

In [4]:
test_func(my_list)

[2, 4, 6, 8, 10]

In [5]:
my_list # note how it has note actually been updated.

[1, 2, 3, 4, 5]

In [9]:
def test_func_touching_elements(a_list):
    a_list[:] = [num * 2 for num in a_list]
    return a_list

In [10]:
test_func_touching_elements(my_list)

[2, 4, 6, 8, 10]

In [12]:
my_list # now it has been edited

[2, 4, 6, 8, 10]

In [38]:
class Person:
    
    species = 'Human' # shared by all Person objects
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def f(self):
        return 'hello world'

In [39]:
x = Person("timothy", 12)

In [34]:
x

In [35]:
x.f()

'hello world'

In [40]:
x.species

'Human'

In [32]:
test = "timotimo"

test[4]

't'

In [80]:
def sub_validate(s1, s2):
    reg = {'{': '}', '(': ')', '[': ']'}
    rev = {v: k for k, v in reg.items()}
    if not s1 or not s2:
        return false
    if s1 in reg:
        return reg[s1] == s2
    if s1 in rev:
        return rev[s1] == s2

In [81]:
sub_validate('(', ')')

True

In [94]:
def isvalid(s):
    
    ## push every char onto a stack then print out(just want to see)
    d = deque()
    ## if it doesn't have a match, put it on the stack?
    ## it should only be on the stack once. 
    ## 
    for char in s:
        if char not in d:
            d.appendleft(char)
        else:
            
    return d

In [95]:
isvalid("{}{}")

deque(['}', '{'])

In [2]:
l = [0, 1 ,2, 3 , 4, 5]

In [3]:
l[2]

2

In [4]:
l.get(2)

AttributeError: 'list' object has no attribute 'get'

In [5]:
l.index(2)

2

In [6]:
l.remove(2)

In [7]:
l

[0, 1, 3, 4, 5]

In [8]:
l.insert(2, "tim")

In [9]:
l

[0, 1, 'tim', 3, 4, 5]

In [15]:
l = [0, None, None,None, None, None, None, None, 9] # should be 9

In [16]:
current = 0
highest = 0
temp = 0
counts=[[]]
while current < len(l):
    if l[current +1] == None:
        temp +=1
        highest = max(highest, temp)
    else:
        temp = 0
    current +=1
    if current == (len(l) - 1):
        break

print(highest)

7

In [14]:
l.index(4)

3

- sort a dictionary by values
- sort a list of strings by shortest words
- reverse a string
- remove chars from a string
- remove punc from a sentence
- all permutations of a list
- combine two lists
- iterate over dictionary
    - 	(different ways)
- breadth first
- depth first
- loop over list of lists
    -	normal
    - 	comprehension
- window loop (rectangle area)
- review merge sorts

In [17]:
d = {"Tim": 2, "John": 7, "Kevin": 1}

In [19]:
import operator
sorted_d = sorted(d.items(), key = operator.itemgetter(1), reverse = True)

In [20]:
sorted_d

[('John', 7), ('Tim', 2), ('Kevin', 1)]

In [21]:
l = ["tim", "john", "eggplant", "thanks","hi"]

In [23]:
sorted(l, key = len) # apply function w/ no args

['hi', 'tim', 'john', 'thanks', 'eggplant']

In [24]:
sorted(l) # no extra params, by default does alphabetical

['eggplant', 'hi', 'john', 'thanks', 'tim']

In [31]:
s = "the white house"

s1 = ""
for c in s:
    s1 = c + s1

print(s1)

esuoh etihw eht

In [32]:
s2 = s[::-1]

In [33]:
s2

'esuoh etihw eht'

In [45]:
sentence = "The & only way & I'll **** go is to ... think.? About it? **&*"

In [46]:
sentence = sentence.replace("?", "")

In [47]:
sentence

"The & only way & I'll **** go is to ... think. About it **&*"

In [48]:
## okay, we removed a question mark, now get the other stuff out

bad = "&*."

sentence = ''.join([c for c in sentence if c not in bad])

In [49]:
sentence

"The  only way  I'll  go is to  think About it "

In [65]:
import itertools

perms = []
# returns an iterable you have to iterate over
for perm in itertools.permutations([1,2,3,4]):
    perms.append(perm)

In [66]:
perms

[(1, 2, 3, 4),
 (1, 2, 4, 3),
 (1, 3, 2, 4),
 (1, 3, 4, 2),
 (1, 4, 2, 3),
 (1, 4, 3, 2),
 (2, 1, 3, 4),
 (2, 1, 4, 3),
 (2, 3, 1, 4),
 (2, 3, 4, 1),
 (2, 4, 1, 3),
 (2, 4, 3, 1),
 (3, 1, 2, 4),
 (3, 1, 4, 2),
 (3, 2, 1, 4),
 (3, 2, 4, 1),
 (3, 4, 1, 2),
 (3, 4, 2, 1),
 (4, 1, 2, 3),
 (4, 1, 3, 2),
 (4, 2, 1, 3),
 (4, 2, 3, 1),
 (4, 3, 1, 2),
 (4, 3, 2, 1)]

In [76]:
{v for v in d.values()}

{1, 2, 7}

In [77]:
d["Tim"]

2

In [81]:
{v: k for k, v in d.items()} #note that we are actually declaring a dict here so the colon is necessary

{2: 'Tim', 7: 'John', 1: 'Kevin'}

In [82]:
for k, v in d.items():
    print(f'{k}, {v} is at this spot')

Tim, 2 is at this spot
John, 7 is at this spot
Kevin, 1 is at this spot

In [86]:
# breadth first
'''
if root is None:
    print('none')
q = [root]

while len(q) > 0:
    curr = q.pop(0)
    # you could add curr to list, or print, etc.
    if curr.left:
        q.append(curr.left)
    if curr.right:
        q.append(curr.right)
'''

"\nif root is None:\n    print('none')\nq = [root]\n\nwhile len(q) > 0:\n    curr = q.pop(0)\n    # you could add curr to list, or print, etc.\n    if curr.left:\n        q.append(curr.left)\n    if curr.right:\n        q.append(curr.right)\n"

In [87]:
# pre order -> Current L R
# in order -> L Current R
# post order -> L R Current

In [88]:
list_of_lists = [[1,2,3,4,5], [6,7,8,9,10], [11,12,13,14,15], [16,17,18,19,20]]

In [89]:
print(list_of_lists)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20]]

In [95]:
for inner_list in list_of_lists:
    for val in inner_list:
        print(val)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [97]:
[val for inner_list in list_of_lists for val in inner_list] #weird outside in thing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [98]:
# only print the first two numbers in each inner list
for inner_list in list_of_lists:
    current = 0
    for val in inner_list:
        print(val)
        current +=1
        if current == 2:
            current = 0
            break

1
2
6
7
11
12
16
17

In [99]:
'''
  largest = 0
  for i in range(len(height)):
      window = 1
      while i + window < len(height):
          # step 1: "normalize height metric" by getting min of current vs. inspect
          h = min(height[i], height[i + window])
          # step 2: calculate area - which is height * width where width = window size
          area = h * window
          # step 3: set this to largest if it's bigger!
          largest = max(largest, area)
          # step 4: keep the party going. move window over. 
          # print(f'{numbers[i]}, {numbers[i + window]}')
          window += 1
  
  return largest
  '''

'\n  largest = 0\n  for i in range(len(height)):\n      window = 1\n      while i + window < len(height):\n          # step 1: "normalize height metric" by getting min of current vs. inspect\n          h = min(height[i], height[i + window])\n          # step 2: calculate area - which is height * width where width = window size\n          area = h * window\n          # step 3: set this to largest if it\'s bigger!\n          largest = max(largest, area)\n          # step 4: keep the party going. move window over. \n          # print(f\'{numbers[i]}, {numbers[i + window]}\')\n          window += 1\n  \n  return largest\n  '

In [100]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [101]:
my_list = range(11)

In [102]:
my_list

range(0, 11)

In [104]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [108]:
# window/anchor work.
for i in my_list:
    window = 1
    while i + window < len(my_list):
        print(f'Comparing anchor {i} to value {i+window}')
        window +=1

Comparing anchor 0 to value 1
Comparing anchor 0 to value 2
Comparing anchor 0 to value 3
Comparing anchor 0 to value 4
Comparing anchor 0 to value 5
Comparing anchor 0 to value 6
Comparing anchor 0 to value 7
Comparing anchor 0 to value 8
Comparing anchor 0 to value 9
Comparing anchor 0 to value 10
Comparing anchor 1 to value 2
Comparing anchor 1 to value 3
Comparing anchor 1 to value 4
Comparing anchor 1 to value 5
Comparing anchor 1 to value 6
Comparing anchor 1 to value 7
Comparing anchor 1 to value 8
Comparing anchor 1 to value 9
Comparing anchor 1 to value 10
Comparing anchor 2 to value 3
Comparing anchor 2 to value 4
Comparing anchor 2 to value 5
Comparing anchor 2 to value 6
Comparing anchor 2 to value 7
Comparing anchor 2 to value 8
Comparing anchor 2 to value 9
Comparing anchor 2 to value 10
Comparing anchor 3 to value 4
Comparing anchor 3 to value 5
Comparing anchor 3 to value 6
Comparing anchor 3 to value 7
Comparing anchor 3 to value 8
Comparing anchor 3 to value 9
Comparing anchor 3 to value 10
Comparing anchor 4 to value 5
Comparing anchor 4 to value 6
Comparing anchor 4 to value 7
Comparing anchor 4 to value 8
Comparing anchor 4 to value 9
Comparing anchor 4 to value 10
Comparing anchor 5 to value 6
Comparing anchor 5 to value 7
Comparing anchor 5 to value 8
Comparing anchor 5 to value 9
Comparing anchor 5 to value 10
Comparing anchor 6 to value 7
Comparing anchor 6 to value 8
Comparing anchor 6 to value 9
Comparing anchor 6 to value 10
Comparing anchor 7 to value 8
Comparing anchor 7 to value 9
Comparing anchor 7 to value 10
Comparing anchor 8 to value 9
Comparing anchor 8 to value 10
Comparing anchor 9 to value 10

In [109]:
test = {1: (1, 2), 2: (1, 5)}

In [110]:
[sum(v) for v in test.values()]

[3, 6]