In [2]:
import csv, os, re
import nltk
import math
from collections import Counter
import random
import numpy as np
import pandas as pd

First, let's list we accomplished in the R file (roughly)

- load bike data, air quality and mt cars as a df
- explore data
    - dimensions
    - column names
    - nas per column
- cleaning data
    - look up python and checking for NA.s
    - count the number of NA.s per column in Air Quality
    - create a column in air quality that replaces NA ozone vals w/ mean of ozone vals
    - create a column that is 5* the temperature column, taking NA's into considerations
    - make an arbitrary "distance" column in bike data and standardize it
    - rename the distance column to be "standardized_dist"
- attach a new column called "ride_cost" (random # bt 0 and 10) (at the end)
- attach an arbitrary "ID" column (at the beginning)
- swap the position of 2 columns
- inspect date columns
    - potentially convert
    - (look up best practice)
    - find the difference in days and then in minutes between 2 arbitrary dates
- filtering data
    - remove rows where ride < 5.00 and Member type is casual
    - only give me back the start and stop stations
- subsetting data
    - split into two halves, along the rows
    - rejoin the two halves, row wise (sql union)
    - join the two halves, column wise (sql join)
- sorting the data
    - sort from most expensive ride_cost to least
    - sort by date taken (descending) and alp. name of station of origin (a-z)
- aggregations
    - count the number of unique station destinations
    - count the number of rides that were `4.00`
    - average ride cost
    - average ride cost per end_station, sorted highest cost to lowest
    - top 5 destinations per day
- correlation 
    - for all possible combos
    - bt wt and mpg
    - return all pairings where x and y have cor of >= .8
- 5 number summary
    - for mpg
    - for ride cost (bikes)
- simple scatter plot for wt and mpg
- regressions
    - linear bt wt and mpg
    - look up logistic regression
- simple string replacement
    - remove all numbers from every element in a list of number-strings like 12345tim13434, 2034983tim0a89
- simple function
    - write a function that outputs the number of unique values in every column of a data frame

In [17]:
sep = "================================"

In [18]:
# series basic
d = {'name' : 'IBM', 'date' : '2010-09-08', 'shares' : 100, 'price' : 10.2}
ds = pd.Series(d)

print(ds[0])

name             IBM
date      2010-09-08
shares           100
price           10.2
dtype: object

In [21]:
# df basic 
e = pd.DataFrame({'name': ['AA', 'IBM'], 'shares': [80, 90]})

print(e)
print(sep)
print(e['name'][0])
print(sep)
print(e.loc[0])
print(sep)
print(e.loc[:, 'name'])

  name  shares
0   AA      80
1  IBM      90
================================
AA
================================
name      AA
shares    80
Name: 0, dtype: object
================================
0     AA
1    IBM
Name: name, dtype: object

In [28]:
# read file

mtcars = pd.read_csv('data/mtcars.csv', index_col = None)

# rename that first column.
mtcars.rename(columns = {'Unnamed: 0': 'mnm'}, inplace = True)

print(mtcars.head())

                 mnm   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0          Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
2         Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3

   carb
0     4
1     4
2     1
3     1
4     2